# BDAT1004PS2 
## Kenta Shirakura #200206054

## Question 1
### Consider the following Python module:

In [9]:
a = 0
def b ():
    global a
    a = c(a)

def c(a):
    return a + 2

b()
b()
b()
a

6

## Answer 
The last expression is evaluated and prints out 6 because

We defined inside the function b() that a is a global scope.

That means whatever is calcurated within the function b() becomes global scope, therefore:

### 1st b() = c(a) = a + 2 = 0 + 2, now a = 2
### 2nd b() same principle, a = 4
### 3rd b() again, a = 6

## Question 2
### Function fileLength(), given to you, takes the name of a file as input returns the length of the file.
### As shonw above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception wil be raised. Modify function fileLength() so that a friendly message is printed instead:

In [15]:
#My answer below
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print('File {} is not found.'.format(file_name))

In [17]:
file_length('example.txt')

File example.txt is not found.

## Question 3
### Write a class named Marsupial that can be used as shown below:

m = Marsupial()

m.put_in_pouch('doll')

m.put_in_pouch('firetruck')

m.put_in_pouch('kitten')

m.pouch_contents()

['doll', 'firetruck', 'kitten']

#### Then write a class named Kangaroo as a subclass of MArsupial that inherits all the attributes of Marsupial and also:
    a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
    b. supports method jump that takes number values dx and dy as input and moves kangaroo by dx units along the x axis and by dy units along the y-axis, and
    c. overloads the __str__ operator so it behaves as shown below.
    
k = Kangaroo(0,0)

print(k)

I am a Kangaroo located at coordinates (0,0)

k.put_in_pouch('doll')

k.put_in_pouch('firetruck')

k.put_in_pouch('kitten')

k.pouch.contents()

['doll', 'firetruck', 'kitten']

k.jump(1,0)

k.jump(1,0)

k.jump(1,0)

print(k)
I am a Kangaroo located at coordinates (3,0)

In [173]:
#Answer in next three cells

class Marsupial:
    
    def __init__(self):
        self.pouch = []
             
    def put_in_pouch(self, name):
        self.pouch.append(name)
        
    def pouch_contents(self):
        print(self.pouch)  
                
class Kangaroo(Marsupial):
    
    def __init__(self, xcoord, ycoord):
        self.x = xcoord
        self.y = ycoord
        Marsupial.__init__(self)  #calling the Marsupial method as extention
        self.pouch = []
        
    def get(self):
        return (self.x, self.y)
                
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
          
    def __str__(self):
        return 'I am a Kangaroo located at coordinates({}, {})'.format(self.x, self.y)

In [172]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [170]:
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates(0, 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates(3, 0)

## Question 4
### Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x.A Collatz sequnce is obtained by repeatedly applying this rule to the previous number x in the sequence
#### The function should stop when the sequence gets to number 1. The function must be recursive, no loops.

In [221]:
#My function below
def Collatz(n):
    if n == 1:
        print(n)
    
    elif n%2 == 0:
        print(n)
        Collatz(n/2)
        
    else:
        Collatz((3 * n + 1))
            
Collatz(10)

10
16.0
8.0
4.0
2.0
1.0

## Question 5
### Write a recursive method binary() that takes a non-negative integer n and prints the binary of interger n.

In [260]:
#Answer below
def binary(n):
    if n == 0:
        return n
    
    elif n >= 1:
        binary(n // 2)
        print (n % 2,end='')
        
    else:
        print('It has to be a non-negative integer')
    
        
binary(5)

101

## Question 6
### Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. The class should be implemented as a subclass of HTMLParser, defined in Standard Library module html.parser. When string containing HTML code is fed, the class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented the following way:
 1. h1 heading should have indentation 0
 2. h2 heading should have indentation 1
 ...continue

In [96]:
#Answer to question 6
#Referenced comment from stack overflow
#url link: https://stackoverflow.com/questions/8486922/python-and-htmlparser-handle-data-how-to-get-data-from-tags

from html.parser import HTMLParser
class HeadingParser(HTMLParser):
      
    def __init__(self):
        HTMLParser.__init__(self)
        self.tagh1 = True or False       #Created a tagh1 attribute which identifies if condition is True or False
    
    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.tagh1 == True           #if the tag is h1, the attribute is True
            
    def handle_data(self, data):
        if self.tagh1 == True:           #if the condition is met, prints out the data after the tag h1
            print(data)

In [94]:
infile = open('w3c.html') 
content = infile.read() 
infile.close()
#print(content)
headingparser = HeadingParser()
headingparser.feed(content)

W





W








P




W


W




W
.

#### Comment for the attempt for question 6
I failed to reference the location of the header and print out the lines.

I tried to reference the location of the "data" = header by creating the True or False attribute and match them, but in the end, I could not reference the location of the data with the tag using this method.

## Question 7
### Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. The function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. Indentation should be used to indicate the depth of a URL specified by indent.

In [7]:
#Referenced from class wk6 webcrawler
#implementing a class Collector and a function analyze

from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser): #collects hyperlink URLs into a list

    global counter 
       
    def __init__(self, url):
        HTMLParser.__init__(self)          # initializes parser, the url, and a list
        self.url = url
        self.links = []
        self.counter = 0
        
    def handle_starttag(self, tag, attrs):
        if tag == 'a':                     # collects hyperlink URLs in their absolute format
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])   # construct absolute URL
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        self.counter += 1                        
                        
    def getLinks(self):                    # inserts hyperlinks URLs into list, "links"
        return self.links

def webdir(url, depth, indent):
    
    global counter
    
    while Collector.counter < depth:
        content = urlopen(url).read().decode() 
        collector = Collector(url)             # obtain links in the web page
        collector.feed(content)
        urls = collector.getLinks() # This gets the list of links
        
    for link in urls:  # print the http links found in web page with indentation
        print('{} {}'.format(' '*indent, link))

In [8]:
webdir('https://www.w3.org/Consortium/mission.html', 2, 5)

AttributeError: type object 'Collector' has no attribute 'counter'

#### Comment for the attempt for question 7
I failed to stop the collection of the links after the count of the click(depth).

I tried to implement a counter within the class, and to add number to the counter each time the link is collected, and to end the recursion after the count of depth, but "counter" was not callable in webdir function.

## Question 8
### Write SQL queries on the below database table that return:
    a) All the temperature data.
    b) All the cities, but without repetition.
    c) All the records for India.
    d) All the Fall records.
    e) The city, country, and season for which the average rainfall is between 200 and millimeters.
    f) The city and country for which the averaage Fall temperature is above 20 degrees, in increasing temperature order.
    g) The total annual rainfall for Cairo.
    h) The total rainfall for each season.
    
#### The database

City 	Country 	Season 	Temperature (C) 	Rainfall (mm)
Mumbai 	India 	Winter 	24.8 	5.9 
Mumbai 	India 	Spring 	28.4 	16.2 
Mumbai 	India 	Summer 	27.9 	1549.4 
Mumbai 	India 	Fall 	27.6 	346.0 
London 	United Kingdom 	Winter 	4.2 	207.7 
London 	United Kingdom 	Spring 	8.3 	169.6 
London 	United Kingdom 	Summer 	15.7 	157.0 
London 	United Kingdom 	Fall 	10.4 	218.5 
Cairo 	Egypt 	Winter 	13.6 	16.5 
Cairo 	Egypt 	Spring 	20.7 	6.5 
Cairo 	Egypt 	Summer 	27.7 	0.1 
Cairo 	Egypt 	Fall 	22.2 	4.5

In [263]:
 !pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\k.shirakura\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: six in c:\users\k.shirakura\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlparse in c:\users\k.shirakura\anaconda3\lib\site-packages (from ipython-sql) (0.4.1)
Processing c:\users\k.shirakura\appdata\local\pip\cache\wheels\46\60\6c\bb25d05df22906786206e901e9354bb3061061191116768bee\prettytable-0.7.2-py3-none-any.whl
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\k.shirakura\anaconda3\lib\site-packages (from ipython-sql) (1.3.20)
Requirement already satisfied: ipython>=1.0 in c:\users\k.shirakura\anaconda3\lib\site-packages (from ipython-sql) (7.19.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\k.shirakura\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\k.shirakura\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (50.3.1.post20201107)
Requirement already satisfied: jedi>=0.10 in c:\users\k.shirakura\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: decorator in c:\users\k.shirakura\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\k.shirakura\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.8)
Requirement already satisfied: traitlets>=4.2 in c:\users\k.shirakura\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\k.shirakura\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pygments in c:\users\k.shirakura\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.7.2)
Requirement already satisfied: backcall in c:\users\k.shirakura\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\k.shirakura\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\k.shirakura\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\k.shirakura\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Installing collected packages: prettytable
  Attempting uninstall: prettytable
    Found existing installation: prettytable 2.0.0
    Uninstalling prettytable-2.0.0:
      Successfully uninstalled prettytable-2.0.0
Successfully installed prettytable-0.7.2

In [266]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [272]:
%%sql
CREATE TABLE Data(City,Country,Season,Temperature C,Rainfall mm);
INSERT INTO Data VALUES('Mumbai','India','Winter','24.8','5.9');
INSERT INTO Data VALUES('Mumbai','India','Spring','28.4','16.2');
INSERT INTO Data VALUES('Mumbai','India','Summer','27.9','1549.4');
INSERT INTO Data VALUES('Mumbai','India','Fall','27.6','346.0');
INSERT INTO Data VALUES('London','United Kingdom','Winter','4.2','207.7');
INSERT INTO Data VALUES('London','United Kingdom','Spring','8.3','169.6');
INSERT INTO Data VALUES('London','United Kingdom','Summer','15.7','157.0');
INSERT INTO Data VALUES('LOndon','United Kingdom','Fall','10.4','218.5');
INSERT INTO Data VALUES('Cairo','Egypt','Winter','13.6','16.5');
INSERT INTO Data VALUES('Cairo','Egypt','Spring','20.7','6.5');
INSERT INTO Data VALUES('Cairo','Egypt','Summer','27.7','0.1');
INSERT INTO Data VALUES('Cairo','Egypt','Fall','22.2','4.5');

 * sqlite://
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [290]:
%%sql
SELECT Temperature from Data

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [289]:
%%sql
SELECT DISTINCT City FROM Data

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [293]:
%%sql
SELECT * from Data where country = 'India'

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346)]

In [294]:
%%sql
SELECT * from Data where Season = 'Fall'

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [298]:
%%sql
SELECT City, Country, Season, Rainfall from Data where Rainfall BETWEEN 200 AND 400

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 346),
 ('London', 'United Kingdom', 'Winter', 207.7),
 ('London', 'United Kingdom', 'Fall', 218.5)]

In [300]:
%%sql
SELECT City, Country, Temperature from Data where Temperature > 20 ORDER by Temperature

 * sqlite://
Done.

[('Cairo', 'Egypt', 20.7),
 ('Cairo', 'Egypt', 22.2),
 ('Mumbai', 'India', 24.8),
 ('Mumbai', 'India', 27.6),
 ('Cairo', 'Egypt', 27.7),
 ('Mumbai', 'India', 27.9),
 ('Mumbai', 'India', 28.4)]

In [302]:
%%sql
SELECT City, SUM(Rainfall) FROM Data where City = 'Cairo'

 * sqlite://
Done.

[('Cairo', 27.6)]

In [307]:
%%sql
SELECT Season, SUM(Rainfall) from Data GROUP BY Season

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

## Question 9
### The list: words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
### Write list comprehension expressions that use list words and generate the following
    a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
    b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
    c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
    d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
    e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [348]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [358]:
#Answer to a
a = []
for i in words:
    a.append(i.upper())
print('The answer to a is {}'.format(a))

#Answer to b
b = []
for j in words:
    b.append(j.lower())
print('The answer to b is {}'.format(b))

#Answer to c
c = []
for k in words:
    c.append(len(k))
print('The answer to c is {}'.format(c))

#Answer to d
d = []
for l in words:
    addition = []
    addition.append(l.upper())
    addition.append(l.lower())
    addition.append(len(l))
    d.append(addition)
print('The answer to d is {}'.format(d))

#Answer to e
e = []
for m in words:
    if len(m) > 3:
        e.append(m)
print('The answer to e is {}'.format(e))

The answer to a is ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
The answer to b is ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
The answer to c is [3, 5, 5, 3, 5, 4, 3, 4, 3]
The answer to d is [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
The answer to e is ['quick', 'brown', 'jumps', 'over', 'lazy']